<form [formGroup]="offerForm" (ngSubmit)="submit()">
  <mat-card class="p-0">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="color: #0077C2;">info</mat-icon>
          <span class="tab-label" style="color: #0077C2; padding-left: 10px;">Ajouter une Offre</span>
        </ng-template>
        <mat-card-content class="mt-16">

          
          <div class="container" style="display: flex; flex-direction: column;">
            <div class="form-container">
            
            <div class="mini-container" >
              <!-----title--->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Titre</mat-label>
                <input matInput [formControlName]="'title'" placeholder="le titre de l'offre">
              </mat-form-field>
            
             <!-----reference--->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Référence</mat-label>
                <input matInput  [formControlName]="'reference'" placeholder="Référence">
              </mat-form-field>
            </div>

            
            <div class="mini-container" >
              <!-----skills--->
              <mat-form-field [style.width.cm]=19 class="example-full-width" appearance="outline">
               <mat-label>Compétences demandées</mat-label>
               <textarea matInput placeholder="Veuillez écrire l'ensemble des compétences nécessaires pour cette offre." [formControlName]="'requiredSkills'"></textarea>
             </mat-form-field>
           </div>

            <div class="mini-container" >
              <!-----description--->
            <mat-form-field [style.width.cm]=19 class="example-full-width" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Veuillez fournir une brève description." [formControlName]="'description'"></textarea>
            </mat-form-field>
            </div>

           


            <div class="mini-container" >
              <!-----jobSite----->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Site de recrutement</mat-label>
                <input matInput name="jobSite" [formControlName]="'jobSite'" placeholder="Site de recrutement">
              </mat-form-field>

              <!--StartDate & EndDate-->
                <mat-form-field appearance="outline">
                  <mat-label>Date début</mat-label>
                  <input matInput [matDatepicker]="pickerStart" formControlName="startDate"
                    placeholder="Date de début">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" >
                  <mat-label>Date fin</mat-label>
                  <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" placeholder="Date de fin">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
              </div>

            
            </div>
            
           
         

            <div fxFlex="100" class="mt-16">
              <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">Ignorer</button>
              <span fxFlex></span>
              <button mat-raised-button color="primary">{{ "Enregsitrer" | translate }}</button>
            </div>
          </div>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</form>
