.info-container mat-form-field + mat-form-field {
    margin-left: 8px;
    width: 30cm;

  }
  .example-chip-list {
    width: 100%;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }