<div class="m-12" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">


  <button mat-raised-button class="mb-2" style="float: right ;"  color="primary" (click)="goToForm()"> New referentiel </button>

  <mat-form-field  >
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtre">
    </mat-form-field> 
 

<mat-card  style="border: 5px; "  [@animate]="{value:'*',params:{y:'10px',delay:'500ms'}}">
  <mat-card-content class="p-0">
    <mat-table [dataSource]="dataSource" matSort  >

  <ng-container matColumnDef="questionTypeName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie
       </mat-header-cell>
    <mat-cell *matCellDef="let row"  [style.color]="row.color"> {{row.questionTypeName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Domaine
       </mat-header-cell>
    <mat-cell *matCellDef="let row"  [style.color]="row.color"> {{row.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="level">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Niveau d'expérience
     
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [style.color]="row.color"> {{ExperienceLevelMap[row.level]}} </mat-cell>
  </ng-container>




   <ng-container matColumnDef="actions">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
     <mat-cell *matCellDef="let row">
       <button mat-icon-button mat-sm-button color="accent" class=" mr-16 "  routerLink="/referentielAffichage/{{row.id}}" routerLinkActive="router-link-active" >
         <mat-icon>remove_red_eye </mat-icon>
       </button>
       <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row.id)">
         <mat-icon>delete</mat-icon>
       </button>
       
     </mat-cell>
   </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
 <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</mat-card-content>
</mat-card>
</div>