
<div class="modal-body px-0">
    <div style="overflow-y: hidden; height: calc(100vh - 15rem);">
      <div class="px-2" style="overflow-y: auto; height: 100%;">
        
        <form [formGroup]="offerForm"  >
          <mat-card class="p-0" >
               <!-- <ng-template mat-tab-label>
                  <mat-icon style="color: #0077C2;padding-right: 16px;">assignment</mat-icon>
                  <span class="tab-label" style="color: #0077C2;">{{ data.firstName }} {{ data.lastName }}</span>
                </ng-template>-->
                  <mat-card-content class="mt-16">
                    <div class="container" style="display: flex; flex-direction: column;">
                      <div class="form-container">
                      <div class="mini-container" >
  
                          <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Mode d'entretien</mat-label>
                            <mat-select formControlName="interviewMode">
                              <mat-option *ngFor="let interviewModes of interviewMode" [value]="interviewModes">{{InterviewModeMap[interviewModes]}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        
                          <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Type d'entretien</mat-label>
                            <mat-select formControlName="interviewType">
                              <mat-option *ngFor="let interviewTypes of interviewType" [value]="interviewTypes">{{InterviewTypeMap[interviewTypes]}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>
                      <span class="mat-heading-label">Quand? </span>
                      <div class="mini-container" >
                        <!--Date-->
                        <div >
                          <mat-form-field class="full-width" appearance="outline"  >
                            <mat-label>Date de l'entretien</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="interviewDate" placeholder="Date de l'entretien">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <!--Time-->
                        
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>L'heure</mat-label>
                            <input
                            matInput
                            type="time"
                            required
                            formControlName="interviewTime"
                            placeholder="Veuillez indiquer l'heure">
                            <!--<mat-error *ngIf="myForm.get('interviewTime').invalid && myForm.get('firstName').touched">
                              Le nom est requis et doit commencer par une majuscule.</mat-error>-->
                        </mat-form-field>
                        
                        <!--Duration-->
                        <div >
                          <mat-form-field  class="full-width" appearance="outline" >
                            <mat-label>Durée</mat-label>
                            <input matInput formControlName="duration" placeholder="Ex.Macron">
                          </mat-form-field>
                        </div>
                      </div>
        
                      <span class="mat-heading-label">Ou? </span>
                      <div class="mini-container" >
                        <!--Place-->
                        <mat-form-field class="full-width" appearance="outline" [style.width.cm]=10>
                          <mat-label>La localisation</mat-label>
                            <input
                            matInput
                            required
                            formControlName="interviewPlace"
                            placeholder="Veuillez indiquer l'adresse">
                            <!--<mat-error *ngIf="myForm.get('interviewTime').invalid && myForm.get('firstName').touched">
                              Le nom est requis et doit commencer par une majuscule.</mat-error>-->
                        </mat-form-field>
        
                        <!--Location -->
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>L'emplacement</mat-label>
                          <mat-select formControlName="interviewlocation">
                            <mat-option *ngFor="let interviewlocations of interviewlocation" [value]="interviewlocations">{{interviewLocationMap[interviewlocations]}}</mat-option>
                          </mat-select>
                        </mat-form-field>
        
                      </div>
                      <span class="mat-heading-label">Qui va conduire l'interview ?</span>
                      <div class="mini-container" >
                        <mat-form-field class="full-width" appearance="outline" >
                          <mat-label>Nom  </mat-label>
                            <input
                            matInput
                            required
                            formControlName="interviewerName"
                            placeholder="Veuillez indiquer le nom et le prénom de l'intervieweur">
                        </mat-form-field>
                      </div>
        
                      <div class="mini-container" >
                         <!--Interviewer-->
                         <mat-form-field class="full-width" appearance="outline" >
                          <mat-label>Email </mat-label>
                            <input
                            matInput
                            required
                            formControlName="interviewerEmail"
                            placeholder="Veuillez indiquer l'Email de l'intervieweur">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline" >
                          <mat-label>Numéro de téléphone </mat-label>
                            <input
                            matInput
                            required
                            formControlName=" interviewerPhoneNumber"
                            placeholder="Veuillez indiquer le téléphone l'intervieweur">
                        </mat-form-field>
                      </div>
                      <span class="mat-heading-label">Données supplementaires</span>
                      <div class="mini-container" > 
                        <!------description----->
                       
                          <mat-form-field class="full-width"  appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea  class="full-width" matInput placeholder="Description" formControlName="comment"></textarea>
                          </mat-form-field>
                       
                      </div>
                    </div>
                       
                  
                <div fxFlex="100" class="mt-16">
                  <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">Ignorer</button>
                  <span fxFlex></span>
                  <button mat-raised-button color="primary" (click)="submit()" >save</button>
                </div>
              </div>
              </mat-card-content>
            
        </mat-card>
        </form>
        
      </div>
    </div>
  </div>