<mat-card>
    <div class="container">
    <ng-template matStepLabel></ng-template>
    <mat-card-title class="">
        <div style="padding-bottom: 20px;">
            <div style="padding-right:4px ;" class="card-title-text">Référentiel<strong> {{ questionCategory.name}}, </strong> </div>
         <div class="card-title-text"> Niveau <strong>{{ ExperienceLevelMap[questionCategory.level]}}</strong> </div>
        </div>
        </mat-card-title>

        <mat-card-content>
        <div class="container-container">
            <mat-table [dataSource]="dataSourceQuestion" matSort >
        
                <ng-container matColumnDef="question">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Question </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="question"> {{row.question}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button mat-button color="primary" (click)="openUpdateQuestionDialog(row.id)" class="mr-16" >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button mat-button color="warn" (click)="deleteQuestion(row.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsQuestions" ></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsQuestions;" ></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>

        </mat-card-content> 
    </div>
</mat-card>

<!--<mat-card>
    <div class="container">
    <ng-template matStepLabel></ng-template>
        <mat-card-title class="">
            <div style="padding-bottom: 20px;">
                <div style="padding-right:4px ;" class="card-title-text">Référentiel<strong> {{ questionCategory.name}}, </strong> </div>
             <div class="card-title-text"> Niveau <strong>{{ ExperienceLevelMap[questionCategory.level]}}</strong> </div>
            </div>
            </mat-card-title>

        <mat-card-content>
     
        <div class="container-container">
            <mat-list *ngFor="let questions of question">
                <mat-list-item><mat-icon color="primary" class="mr-16">help_outline</mat-icon>{{questions?.question}}</mat-list-item>
                <mat-divider></mat-divider>
                </mat-list>
        </div>

        <div>


        </div>

        </mat-card-content> 
    </div>
</mat-card>-->