@media print {
  .resume {
    width: 210mm; /* A4 paper width */
    height: 297mm; /* A4 paper height */
    margin: 0; /* Remove default page margins */
    padding: 0;
  }
}


@media print {
  .cv-container {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    background-color: #fff !important;
    margin: 0;
    padding: 0;
  }
}

.resume-container{
  margin: 1cm;
}
.cv-container {
    max-width: 25cm;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #4d528c;
    color: #fff;
    padding: 20px;
    text-align: center;
    padding: 20px;
  }
  h1 {
    margin: 0;
    font-size: 36px;
  }
  hr {
    border: none;
    border-top: 2px solid #4d528c;
    margin: 40px 0;
  }
  .container {
    display: flex;
  }
  .left {
    flex: 1;
    padding: 40px;
  }
  .right {
    width:250px;
    padding: 20px;
    border-left: 2px solid #4d528c;
  }

  .right h2::after {
    content: '';
    display: block;
    border-top: 1px solid #ccc;
    margin-top: 8px;
    width: 100%;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  p {
    margin: 0 0 10px 0;
  }
 .body-list {
    margin: 1;
    padding: 1;
  }
  .side-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
  }
  li {
    margin-bottom: 10px;
  }

  list-container {
    display: flex;
  }
  
  .list-section {
    flex: 1;
  }

    .cardColor{
      background-color: #eeeee4;
    }
    

    .profile-body{
      padding-top: 15px;
      padding-bottom: 20px;
    }

    .experince-body{padding-top: 25px;}

    .skills{
      padding-bottom: 25px;
    }
    
    .chip-container {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 16px;
    }
  

    .skills-body {
      display: flex;
      flex-wrap: wrap;
    }
    
    .chip-container {
      display: flex;
      align-items: center;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px 10px;
      background-color: #e1e1e1;
      border-radius: 16px;
      font-size: 14px;
      color: #333;
    }

    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

    }
    .flex-item {
      flex: 1 1 90%;
      margin: 10px;
      display: flex;
    }

    .mat-heading-label{
      padding-top: 10px;
    }