
<h1 matDialogTitle>{{data.title}}</h1>
Nouveau contact
  <form [formGroup]="itemForm" (ngSubmit)="submit()" >
    <div fxLayout="row wrap" fxLayout.lt-sm="column">

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        name="firstName"
        [formControlName]="'firstName'"
        placeholder="Nom">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        name="lastName"
        type="text"
        [formControlName]="'lastName'"
        placeholder="Prénom">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        name="function"
        [formControlName]="'function'"
        placeholder="fonction">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width">
        <input
        matInput
        name="emailOne"
        type="email"
        [formControlName]="'emailOne'"
        placeholder="Email 1">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width">
          <input
          matInput
          name="emailTwo"
          type="email"
          [formControlName]="'emailTwo'"
          placeholder="Email 2">
        </mat-form-field>
      </div>



      <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width">
            <mat-label>Téléphone 1</mat-label>
            <input matInput formControlName="phoneNumberOne" placeholder="+1 1234567890">
            <mat-error *ngIf="itemForm.get('phoneNumberOne').invalid && itemForm.get('phoneNumberOne').touched">
              <div *ngIf="itemForm.get('phoneNumberOne').errors.required">Phone number is required</div>
              <div *ngIf="itemForm.get('phoneNumberOne').errors.pattern">Invalid phone number format</div>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">
          <mat-form-field class="full-width">
              <mat-label>Téléphone 2</mat-label>
              <input matInput formControlName="phoneNumberTwo" placeholder="+1 1234567890">
              <mat-error *ngIf="itemForm.get('phoneNumberTwo').invalid && itemForm.get('phoneNumberTwo').touched">
                <div *ngIf="itemForm.get('phoneNumberTwo').errors.required">Phone number is required</div>
                <div *ngIf="itemForm.get('phoneNumberTwo').errors.pattern">Invalid phone number format</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="comment"
              type="text"
              [formControlName]="'comment'"
              placeholder="Commentaire">
            </mat-form-field>
          </div>

          <div fxFlex="50"  class="pr-16">

            <mat-form-field class="full-width">
              <mat-label>Privilège</mat-label>
              <mat-select  [formControlName]="'privilege'">
                <mat-option *ngFor="let x of Privilege" [value]="x">{{ x }}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">

          <mat-form-field class="full-width">
            <mat-label>Civilité</mat-label>
            <mat-select  [formControlName]="'civility'">
              <mat-option *ngFor="let x of Civility" [value]="x">{{ x }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div fxFlex="50"  class="pr-16">

        <mat-form-field class="full-width">
          <mat-label>Service</mat-label>
          <mat-select  [formControlName]="'service'">
            <mat-option *ngFor="let service of Service" [value]="service">{{service }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width">
            <mat-label>Partenaire</mat-label>
            <mat-select  [formControlName]="'partnerNum'">
              <mat-option *ngFor="let partnerNum of listPartner" [value]="partnerNum.id">{{ partnerNum.name}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

    <div fxFlex="100" class="mt-16">
      <button mat-raised-button color="primary" >{{"SAVE" | translate }}</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>

