<div class="m-12" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <div class="info-card accent" >
     <div class="description">Les Alertes  !!!</div>
  </div>
  <div class="info-card primary" >
    <div class="description">Les Notifications </div>
 </div>
<!------------------------------------------------
 <mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
   <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
     <div
       fxFlex="50"
       fxFlex.gt-sm="20"
       fxFlex.sm="50"
     >
       <div class="text-center pt-16 pb-16 border-right-light">
         <mat-icon class="text-orange">stars</mat-icon>
         <h4 class="m-0 ">...</h4>
         <small class="m-0 ">Top Profils</small>
       </div>
     </div>
     <div
       fxFlex="50"
       fxFlex.gt-sm="20"
       fxFlex.sm="50"
     >
       <div class="text-center pt-16 pb-16 border-right-light">
         <mat-icon class="text-blue">build</mat-icon>
         <h4 class="m-0 ">...</h4>
         <small class="m-0 ">A traiter</small>
       </div>
     </div>
     <div
       fxFlex="50"
       fxFlex.gt-sm="20"
       fxFlex.sm="50"
     >
       <div class="text-center pt-16 pb-16 border-right-light">
         <mat-icon class="text-orange">cached</mat-icon>
         <h4 class="m-0 ">...</h4>
         <small class="m-0 ">En cours de qualification</small>
       </div>
     </div>
     <div
       fxFlex="50"
       fxFlex.gt-sm="20"
       fxFlex.sm="50"
     >
       <div class="text-center pt-16 pb-16 border-right-light">
         <mat-icon class="text-blue">done_all</mat-icon>
         <h4 class="m-0 ">...</h4>
         <small class="m-0 ">Converti en ressource</small>
       </div>
     </div>
   </div>
 </mat-card>
 <mat-form-field style="padding-left: 19px;"   >
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtrer">
  </mat-form-field>
------->
  <button  mat-raised-button class="mb-8 mr-16" style="float: right;" color="primary"  (click)="goToEvaluer()">
      Ajouter un entretien </button>
     <div style="clear: both;"></div>
 <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
   <mat-card-content class="p-0">
     <mat-table [dataSource]="dataSource" matSort>
       <ng-container matColumnDef="candidate.id">
         <mat-header-cell *matHeaderCellDef mat-sort-header > ID </mat-header-cell>
         <mat-cell *matCellDef="let row" data-label="id"> {{row._id}} </mat-cell>
       </ng-container>
       <ng-container matColumnDef="name">
         <mat-header-cell *matHeaderCellDef mat-sort-header > Prénom </mat-header-cell>
         <mat-cell *matCellDef="let row" data-label="name"> {{row.firstName}} </mat-cell>
       </ng-container>
       <ng-container matColumnDef="last name">
         <mat-header-cell *matHeaderCellDef mat-sort-header>  Nom </mat-header-cell>
         <mat-cell *matCellDef="let row" data-label="age"> {{row.lastName}} </mat-cell>
       </ng-container>
       <ng-container matColumnDef="note globale">
         <mat-header-cell *matHeaderCellDef mat-sort-header>note globale</mat-header-cell>
         <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.note_globale}} </mat-cell>
       </ng-container>
       <ng-container matColumnDef="offre">
         <mat-header-cell *matHeaderCellDef mat-sort-header>Offre</mat-header-cell>
         <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.offer}} </mat-cell>
       </ng-container>
       <ng-container matColumnDef="status">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Statut </mat-header-cell>
         <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color">
           <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'active' : 'inactive'}}
           </mat-chip>
         </mat-cell>
       </ng-container>
       <ng-container matColumnDef="actions">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
         <mat-cell *matCellDef="let row">
          <button mat-icon-button mat-sm-button color="primary" class=" mr-16 "  (click)="openpopup(row)">
            <mat-icon>work </mat-icon>
          </button>
           <button mat-icon-button mat-sm-button color="accent" class=" mr-16 " (click)="saveEvaluation(row.id)"
           >
             <mat-icon>remove_red_eye </mat-icon>
           </button>
           <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">
             <mat-icon>delete</mat-icon>
           </button>
           <button
           class="card-control"
           mat-icon-button
           [matMenuTriggerFor]="menu2">
                <mat-icon class="text-muted text-18">more_vert</mat-icon>
              </button>
         </mat-cell>
       </ng-container>
       <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
       <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
     </mat-table>
     <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
   </mat-card-content>
 </mat-card>
 </div>