<div class="m-12" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">


  <button mat-raised-button class="mb-2" style="float: right ;"  color="primary" (click)="openPopUp({},true)"> Nouvelle offre </button>

  <mat-form-field  >
    <input style="padding-left: 19px;" matInput (keyup)="applyFilter($event)" placeholder="Filtre">
    </mat-form-field> 
 

<mat-card  style="border: 5px; "  [@animate]="{value:'*',params:{y:'10px',delay:'500ms'}}">
  <mat-card-content class="p-0">
    <mat-table [dataSource]="dataSource" matSort  >
  
  <ng-container matColumnDef="reference">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Référance </mat-header-cell>
    <mat-cell *matCellDef="let row"  [style.color]="row.color"> {{row.reference}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title
    </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="title" [style.color]="row.color"> {{row.title}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Date de début
    </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Date de début" [style.color]="row.color"> {{row.startDate}} </mat-cell>
  </ng-container>



  <ng-container matColumnDef="endDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date de fin
      
    </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="Date de fin" [style.color]="row.color"> {{row.endDate}} </mat-cell>
  </ng-container>

 <!----> <ng-container matColumnDef="statut" >
    <mat-header-cell *matHeaderCellDef style="padding-left: 2cm;"> Statut   
      <div>
        <button mat-icon-button (click)="toggleInput1()">
          <mat-icon>search</mat-icon>
        </button>
        
        <mat-form-field *ngIf="showInput1" style="width:1.3cm;" >
          <input matInput (input)="applyStatusFilter($event)" placeholder="Filter by Status">
       </mat-form-field>
         </div>
        </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button class="mat-button-as-chip"  [matMenuTriggerFor]="menu" [color]="getStatusColor(row.offerStatus).color" >{{ getStatusColor(row.offerStatus).displayText }}</button>
        <mat-menu #menu="matMenu">
          
          <button mat-menu-item (click)="changeOffereStatus('offerStatus.OPEN', row.id)">
            <mat-icon>cancel</mat-icon>
            <span>Ouverte</span>
          </button>
          <button mat-menu-item (click)="changeOffereStatus('offerStatus.ENDED', row.id)">
            <mat-icon>cancel</mat-icon>
            <span>Cloturé</span>
          </button>

        </mat-menu>
    </mat-cell>
  </ng-container>

   <ng-container matColumnDef="actions">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
     <mat-cell *matCellDef="let row">
       <button mat-icon-button mat-sm-button color="primary" class="mr-16 "  (click)="openPopUp(row)">
         <mat-icon>edit</mat-icon>
       </button>
       <button mat-icon-button mat-sm-button color="accent" class=" mr-16 "  (click)="Affiche(row.id)">
         <mat-icon>remove_red_eye </mat-icon>
       </button>
       <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row.id)">
         <mat-icon>delete</mat-icon>
       </button>
       
     </mat-cell>
   </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
 <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</mat-card-content>
</mat-card>
</div>