<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Slider configuration</h2>

    <section class="example-section">
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Value" [(ngModel)]="value">
      </mat-form-field>
    </section>

    <section class="example-section">
      <button  mat-raised-button class="mb-8 mr-16" style="float: right;" color="primary"  >
        Ajouter un entretien </button>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

    <mat-slider 
        class="example-margin"
        [disabled]="disabled"
        [(ngModel)]="value">
    </mat-slider>
  </mat-card-content>
</mat-card>
