
.container{
  padding: 30px;
  
}
.i-need-padding{
  padding-right: 25px;
  width: 7cm;
}

.align{
  display: inline-block;
}

.title{
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.mini-container1{
  padding-top: 20px;
}

.exp{
  height: 1.7cm;
  font-size: 17px;
  color:#0081FF;
}